@{
    Layout = null;
}
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-danger" role="alert" align="center">
            <h2><b><i class="fa fa-info-circle"></i>&nbsp;No tiene permisos para acceder a esta acción. Consulta con su administrador</b></h2>
        </div>
    </div>
</div>